/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap';

body {
  width: 95%;
  margin: auto;
  font-family: 'Comic Sans MS';
}

a, button {
  font-family: 'Comic Sans MS';
}

img {
  padding-bottom: 20px;
}

h1, h2, h3 {
  text-align: center;
}

form {
  text-align: center;
}

.cat-bio {
  font-size: 1.25em;
}

.cat-index {
  text-align: center;
}

.cat-comment {
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 1.25em;
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.comment-edit {
  max-width: 300px;
}

.delete-comment {
  position: relative;
  bottom: 50px;
  left: 155px;
}

.modify-cat {
  position: absolute;
  top: 20px;
  right: 120px;
}

.timestamp {
  position: relative;
  top: -5px;
  text-align: right;
  font-size: .75em;
  font-style: italic;
}

#new-cat-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}